# Dependencias de Node
node_modules/
npm-debug.log

# Directorios de construcción
build/
dist/

# Configuración de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# React build
client/build
